[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
simple-manga-downloader = {editable = true,path = "."}
black = "==21.5b1"
flake8 = "*"
isort = "*"

[packages]
beautifulsoup4 = "~=4.9"
requests = "~=2.23"
