[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
simple-manga-downloader = {editable = true,path = "."}

[packages]
cfscrape = "*"
beautifulsoup4 = "*"

[requires]
python_version = "3.7"
